<!-- views/pages/index.ejs -->

<!doctype html>
<html lang="en">
<% include ../includes/head %>
<body>
<% include ../includes/nav %>

<div class="jumbotron">
<p>
 A minimal data-center api for documentDB in Azure.
</p>
</div>
</body>
</html>